/****************
LIST FORM
****************/

#list {
  font-family: 'Raleway', sans-serif;
}
#list h1 {
  margin-bottom: 18px;
}
/****************
FABULOUS SONG DIV
****************/
#song {
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 4px double black;
  padding: 10px;
  border-radius: 3%;
  color: #582e91;
  font-size: 1.5em;
  font-weight: bold;
  display: none;
  background-image: url(../img/SOM-fade.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

#song h4 {
  font-family: 'Petit Formal Script', cursive;
}

#song h1 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 3rem;
  text-align: center;
}
 #song h2 {
   font-family: 'Raleway', sans-serif;
 }
 /****************
 TINY AUDIO PLAYER
 ****************/
audio {
  max-width: 45px;
}

/****************
BUTTONS
****************/

.btn-default {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
